:80 {
  reverse_proxy prefect-server:4200 {
    header_up Authorization {http.request.header.Authorization}
  }

  basicauth /* {
    admin $2a$14$zS0LBxlGwMVagDaVS/lx.eWAsBLYa0V1mS2MTGMZMg1VDJasxugJG
  }
}

